apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sync-waves-demo
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/<your-username>/tutorial-argocd-tx2026
    targetRevision: HEAD
    path: p3-sync-waves-demo
  destination:
    server: https://kubernetes.default.svc
    namespace: default
