apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: podinfo-helm
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://stefanprodan.github.io/podinfo
    chart: podinfo
    targetRevision: 6.14.0
    helm:
      valuesObject:
        replicaCount: 2
        ui:
          color: "#27a35a"
          message: "Helm-deployed podinfo!"
        service:
          type: NodePort
          nodePort: 30899
  destination:
    server: https://kubernetes.default.svc
    namespace: podinfo-helm
  # No automated sync -- this Application requires manual sync.
  # This is intentional so students can explore rollbacks in Part 3.
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
